extends ../layout

block body
	.container
		.grid
			.grid__result
			.grid__canvas
				.canvas
			.grid__controls
				.controls
					ul.controls__wrapper
						li.controls__item
							a.button(data-id=7) si
						li.controls__item
							a.button(data-id=6) la
						li.controls__item
							a.button(data-id=5) sol
						li.controls__item
							a.button(data-id=4) fa
						li.controls__item
							a.button(data-id=3) mi
						li.controls__item
							a.button(data-id=2) re
						li.controls__item
							a.button(data-id=1) do
							
