html
  head
    meta(charset="utf-8")
    block title
      title Layout Page

    block style
      link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet', type='text/css')
      link(href='components/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
      link(rel="stylesheet", media="all", href="css/build.css")

  body
    block body
      
  block script
    script(type="text/javascript", src="script/all.js")

